@use "../../../../globals.scss" as globals;

mat-card {
  display: flex;
  flex-direction: row;
  gap: globals.pxToRem(50);
  padding: globals.pxToRem(30) globals.pxToRem(25);
  cursor: pointer;
  border-radius: globals.pxToRem(15);

  img.recipe__img {
    width: globals.pxToRem(350);
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: globals.pxToRem(15);
    @media screen and (max-width: 1070px) {
      width: 100%;
    }
  }

  div {
    h3 {
      @include globals.font(36, 40, 500);
    }

    p {
      @include globals.font(20, 24);
      margin-top: globals.pxToRem(25);
    }
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 1070px) {
    flex-direction: column;
  }

  @media screen and (max-width: 470px) {
    padding: globals.pxToRem(20) globals.pxToRem(15);
    gap: globals.pxToRem(30);
  }
}
