$border-width: 2.5px;

@mixin center-box {
  // position: absolute;

  // top: 50%;
  // left: 50%;

  // transform: translate(-50%, -50%);
}

@mixin flexing-box($size, $border-color) {
  @include center-box();

  display: flex;

  justify-content: center;
  align-items: center;

  width: $size;
  height: $size;

  border: $border-width solid $border-color;
}

@mixin animate-box($duration) {
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: $duration;
  animation-timing-function: ease-out;
}

@keyframes rotate {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.loader {
  position: relative;
  display: flex;

  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  .outer-box {
    @include flexing-box(75px, red);
    @include animate-box(4500ms);
  }
  .middle-box {
    @include flexing-box(50px, green);
    @include animate-box(1500ms);
  }
  .inner-box {
    @include flexing-box(25px, blue);
    @include animate-box(900ms);
  }
}
