<button class="button-40" role="button" (click)="goBackButtonClicked()">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-arrow-left"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
    />
  </svg>
</button>

<app-loader *ngIf="!recipeLoaded; else thrownError"></app-loader>

<ng-template #thrownError>
  <p *ngIf="isErrorLoaded(); else recipeDetails" style="color: red">
    There was a problem loading your recipe {{ loadError.error }}
  </p>
</ng-template>
<ng-template #recipeDetails>
  <div class="recipe" *ngIf="recipeLoaded && !isErrorLoaded()">
    <h1>{{ recipe?.title }}</h1>
    <div class="cover-photo-holder">
      <img [src]="coverImagePath()" />
    </div>
    <p>{{ recipe?.description }}</p>
    <div>
      <div class="sub-title">Preparation Time:</div>
      <div>{{ recipe?.prepTime }}</div>
      <div class="sub-title">Feeds this Many:</div>
      <div>{{ recipe?.feedsThisMany }}</div>
    </div>

    <div class="ingredients">
      <h4>Ingredients</h4>
      <ul>
        <li class="ingredient" *ngFor="let ingredient of recipe?.ingredients">
          {{ ingredient.ingredient }}
          <span class="measure">({{ ingredient.measure }})</span>
        </li>
      </ul>
    </div>
    <div class="instructions">
      <h4>Preparation Instructions</h4>
      <ol>
        <li
          *ngFor="let instruction of recipe?.instructions; let i = index"
          class="instruction"
        >
          <img
            style="float: right; width: 80px; height: 80px; object-fit: cover"
            [src]="instructionPhotoPath(i)"
          />
          {{ instruction.instruction }}
        </li>
      </ol>
    </div>
  </div>
</ng-template>
