div.cover-photo-holder {
  float: right;

  img {
    width: 150px;
    height: 150px;
    margin: 5px;
  }
}

div.recipe {
  cursor: pointer;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 600px;

  h4 {
    font-size: 120%;
  }

  p {
    margin: 10px 20px;
  }
}

@media only screen and (min-device-width: 768px) and (min-device-width: 1024px) and (orientation: portrait) {
  div.recipe {
    float: none;
    width: 100%;
  }
}
