<section class="center">
  <form>
    <ra-input label="Title"></ra-input>
    <ra-textarea label="Description"></ra-textarea>
    <mat-divider></mat-divider>
    <section>
      <ul>
        <li>
          <ra-input label="Ingredient"></ra-input>
          <button mat-icon-button color="warn" type="button">
            <mat-icon>delete</mat-icon>
          </button>
        </li>
      </ul>
      <button mat-raised-button type="button">
        <mat-icon>add</mat-icon>
      </button>
    </section>
    <mat-divider></mat-divider>
    <ra-textarea label="Instructions"></ra-textarea>
    <mat-divider></mat-divider>

    <input type="file" name="" id="" />
    <button mat-raised-button color="primary" type="submit">UPLOAD</button>
  </form>
</section>
